
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<header class="main-header dark-bg">

    <!-- Logo -->
    <a href="~/MainDownload-OvioAdmin-html5-template/html/index.html" class="logo dark-bg">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><img src="~/images/logos/mulhtishop1.jpg" style="height:50px;width:50px; important!" alt="MultShop"></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><img src="~/images/logos//mulhtishop1.jpg" style="height:50px;width:200px; important!" alt="MultShop"></span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button"> <span class="sr-only">Toggle navigation</span> </a>
        <div class="pull-left search-box">
            <form action="#" method="get" class="search-form">
                <div class="input-group">
                    <input type="text" name="search" class="form-control" placeholder="Ara...">
                    <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i> </button>
                    </span>
                </div>
            </form>
            <!-- search form -->
        </div>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                @await Component.InvokeAsync("_AdminContactMessageComponentPartial")

                @await Component.InvokeAsync("_AdminProductCommentNotificationComponentPartial")
                <!-- Tasks Menu -->
                <!-- User Account Menu -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <img src="~/MainDownload-OvioAdmin-html5-template/html/dist/img/img1.jpg" class="user-image" alt="User Image"> <span class="hidden-xs">Admin Profili</span> </a>
                    <ul class="dropdown-menu">
                        <li class="user-header">
                            <div class="pull-left user-img">@ViewBag.Title</div>
                            <p class="text-left">@ViewBag.NameSurname <small>@ViewBag.Email</small> </p>
                            <div class="view-link text-left"><a href="#">Profili Görüntüle</a> </div>
                        </li>
                        <li><a href="#"><i class="icon-profile-male"></i> Profilim</a></li>
                        <li><a href="#"><i class="icon-wallet"></i> My Balance</a></li>
                        <li><a href="/Admin/Contact/ContactList/"><i class="icon-envelope"></i> Gelen Kutusu</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#"><i class="icon-gears"></i> Hesap Ayarları</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#"><i class="fa fa-power-off"></i> Çıkış Yap</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>