
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="container-fluid mb-3">
    <div class="row px-xl-5">
        <div class="col-lg-8">
            <div id="header-carousel" class="carousel slide carousel-fade mb-30 mb-lg-0" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#header-carousel" data-slide-to="1"></li>
                    <li data-target="#header-carousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item position-relative active" style="height: 430px;">
                        <img class="position-absolute w-100 h-100" src="https://cdn.mos.cms.futurecdn.net/PP4mzLahKzbamkUPVUsU3W-1280-80.jpg.webp" style="object-fit: cover;">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="p-3" style="max-width: 700px;">
                                <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Trend Kıyafetler</h1>
                                <p class="mx-md-5 px-5 animate__animated animate__bounceIn">Tarzınızı ortaya çıkartacak kıyafetler tarzınız kalitemiz...</p>
                                <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="#">Şimdi Alışveriş yap</a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item position-relative" style="height: 430px;">
                        <img class="position-absolute w-100 h-100" src="https://cdn.mos.cms.futurecdn.net/vMQ7ENZKE9Z8a8ThujH5Sg-768-80.jpg.webp" style="object-fit: cover;">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="p-3" style="max-width: 700px;">
                                <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">En Güzel Elbiseler</h1>
                                <p class="mx-md-5 px-5 animate__animated animate__bounceIn">Unisex giyim elbiselerimiz sitemizde bulunmaktadır...</p>
                                <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="#">Şimdi Alışveriş yap</a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item position-relative" style="height: 430px;">
                        <img class="position-absolute w-100 h-100" src="https://cdn.mos.cms.futurecdn.net/aT9Zm9mJN4Sby6GSMxbRDo-768-80.jpg.webp" style="object-fit: cover;">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="p-3" style="max-width: 700px;">
                                <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Farklı Tarzlar</h1>
                                <p class="mx-md-5 px-5 animate__animated animate__bounceIn">Ünlü kıyafet dizayn'ırlarımızın gözünden...</p>
                                <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="#">Şimdi Alışveriş yap</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @await Component.InvokeAsync("_SpeacialOfferComponentPartial")
    </div>
</div>