@model CreateAboutDto
@{
    ViewData["Title"] = "CreateAbout";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <div class="bs-example" data-example-id="bordered-table">
                    <form method="post">
                        <input type="text" class="form-control" asp-for="Description" placeholder="Açıklama..." />
                        <br />
                        <input type="text" class="form-control" asp-for="Address" placeholder="Adres..." />
                        <br />
                        <input type="text" class="form-control" asp-for="Email" placeholder="Email..." />
                        <br />
                        <input type="text" class="form-control" asp-for="Phone" placeholder="Telefon..." />
                        <br />
                        <button class="btn btn-primary">Hakkımda Ekle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


