@model List<ResultAboutDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <div class="bs-example" data-example-id="bordered-table">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Açıklama</th>
                                <th>Email</th>
                                <th>Telefon</th>
                                <th>Adres</th>
                                <th>Sil</th>
                                <th>Güncelle</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Description</td>
                                        <td>@item.Email</td>
                                        <td>@item.Phone</td>
                                        <td>@item.Address</td>
                                        <td><a href="/Admin/About/DeleteAbout/@item.AboutId" class="btn btn-warning">Sil</a></td>
                                        <td><a href="/Admin/About/UpdateAbout/@item.AboutId" class="btn btn-success">Güncelle</a></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    @if (Model.Count == 0)
                    {
                        <a href="/Admin/About/CreateAbout/" class="btn btn-primary">Yeni Hakkımda girişi</a>
                    }
                    @if (Model.Count > 1)
                    {
                        <a href="/Admin/About/CreateAbout/" class="btn btn-primary">Yeni Hakkımda girişi</a>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

