@model UpdateUserDto
@{
    ViewData["Title"] = "MyProfile";
    Layout = "~/Views/UILayout/_UILayout.cshtml";
}

<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-lg-8">
            <h5 class="section-title position-relative mb-3"><span class="bg-secondary pr-3">Profilim</span></h5>
            <div class="bg-light p-30 mb-5">
                <div class="row">
                    <form method="post">
                        <div class="col-md-6 form-group">
                            <label>Ad</label>
                            <input class="form-control" type="text" asp-for="Name" placeholder="Ad...">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Soyad</label>
                            <input class="form-control" type="text" asp-for="Surname" placeholder="Soyad...">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>E-mail</label>
                            <input class="form-control" type="text" asp-for="Email" placeholder="Email...">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Kullanıcı Adı</label>
                            <input class="form-control" type="text" asp-for="UserName" placeholder="Kullanıcı Adı...">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Doğum Tarihi</label>
                            <input class="form-control" type="date" asp-for="Birthday" placeholder="Doğum Günü...">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Telefon No</label>
                            <input class="form-control" type="text" asp-for="PhoneNumber" placeholder="Telefon No...">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Şehir</label>
                            <input class="form-control" type="text" asp-for="City" placeholder="İl...">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>İlçe</label>
                            <input class="form-control" type="text" asp-for="District" placeholder="İlçe...">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Mahalle</label>
                            <input class="form-control" type="text" asp-for="Neighbourhood" placeholder="Mahalle...">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Adres</label>
                            <textarea class="form-control" rows="5" asp-for="AddressDescription" placeholder="Adres..."></textarea>
                        </div>
                        <div>
                            <button class="btn btn-primary">Güncelle</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

