@model CreateProductImageDto
@{
    ViewData["Title"] = "CreateProductImage";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <div class="bs-example" data-example-id="bordered-table">
                    <form method="post">
                        <input type="hidden" class="form-control" asp-for="ProductId" placeholder="Marka Adı..." value="@ViewBag.productId" />
                        <br />
                        <input type="text" class="form-control" asp-for="Image" placeholder="Marka Görsel..." />
                        <br />
                        <button class="btn btn-primary">Ürün Resim Ekle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
