@model List<ResultProductImageDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <div class="bs-example" data-example-id="bordered-table">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Resim</th>
                                <th>Sil</th>
                                <th>Güncelle</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    count++;
                                    <tr>
                                        <th scope="row">@count</th>
                                        <td><img src="@item.Image" style="width:50px;height:50px;" /></td>
                                        <td><a href="/Admin/ProductImage/DeleteProductImage/@item.ProductImageId?id=@item.ProductId" class="btn btn-warning">Sil</a></td>
                                        <td><a href="/Admin/ProductImage/UpdateProductImage/@item.ProductImageId" class="btn btn-success">Güncelle</a></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    <a href="/Admin/ProductImage/CreateProductImage/@Model.FirstOrDefault().ProductId" class="btn btn-primary">Yeni Resim girişi</a>
                </div>
            </div>
        </div>
    </div>
</section>

