@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<div class="container-fluid">
    <div class="row align-items-center bg-light py-3 px-xl-5 d-lg-flex">
        <div class="col-lg-4">
            <a href="" class="text-decoration-none">
                <span class="h1 text-uppercase text-primary bg-dark px-2">Multi</span>
                <span class="h1 text-uppercase text-dark bg-primary px-2 ml-n1">Shop</span>
            </a>
        </div>
        <div class="col-lg-4 col-6 text-left">
            <div class="input-group">
                <input id="search" type="text" class="form-control" placeholder="Aranacak Ürünü Giriniz">
                <div class="input-group-append">
                    <span class="input-group-text bg-transparent text-primary">
                        <i class="fa fa-search"></i>
                    </span>
                </div>
            </div>
            
            <div class="search-product">
            </div>
        </div>
        <div class="col-lg-4 col-6 text-right">
            <p class="m-0">Telefon Numaramız</p>
            <h5 class="m-0">+012 345 6789</h5>
        </div>
    </div>
    <div id="myModal" class="search-modal">
        <div class="search-modal-content">
            <span class="search-close">&times;</span>
            <div id="products-1">

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {

        function addDivIdHtml(elementId){
            console.log(elementId);
            var divproduct = "<div id='"+ elementId + "'></div>";
            $('.search-modal-content').append(divproduct);
        }

        function clearHtmlId(elementId) {
            document.getElementById(elementId).remove();
        }
        $("#search").click(function () {
            var count = 0;
            var modal = document.getElementById("myModal");
            var span = document.getElementsByClassName("search-close")[0];

            const inputField = document.getElementById('search');

            var product = "";

            // Keyup olayı
            inputField.addEventListener('keyup', function (event) {
                // Input alanındaki değeri al
                const currentValue = inputField.value;
                if (event.key === 'Enter') {
                    count++;
                    console.log(count);
                    modal.style.display = "block";
                    $.ajax({
                        type: 'GET',
                        url: '/ProductList/SearchProductName/',
                        dataType: 'json',
                        data: { productName: currentValue },
                        success: function (data) {
                            var items = '';
                            console.log(data);
                            if (data != null) {
                                $.each(data, function (i, item) {
                                    product += "<a href='/ProductList/ProductDetail/"+ item.id + "'><p>" + item.productName + "</p></a>";
                                });
                            }
                            $('#products'+"-"+count).append(product);
                        },
                    });
                }
            });


            span.onclick = function(event) {
                modal.style.display = "none";
                clearHtmlId("products"+"-"+ count);
                addDivIdHtml("products"+ "-" + count);
            }
            window.onclick = function(event){
                if(event.target == modal){
                    modal.style.display = "none";
                    clearHtmlId("products" + "-" + count);
                    addDivIdHtml("products" + "-" + count)
                }
            }
        });
    });
</script>