@model List<ResultRoleDto>
@{
    ViewData["Title"] = "RoleList";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <div class="bs-example" data-example-id="bordered-table">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Role Adı</th>
                                <th>Sil</th>
                                <th>Güncelle</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    count++;
                                    <tr>
                                        <th scope="row">@count</th>
                                        <td>@item.Name</td>
                                        <td><a href="/Admin/Role/DeleteRole/@item.Id" class="btn btn-warning">Sil</a></td>
                                        <td><a href="/Admin/Role/UpdateRole/@item.Id" class="btn btn-success">Güncelle</a></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    <a href="/Admin/Role/CreateRole/" class="btn btn-primary">Yeni Role girişi</a>
                </div>
            </div>
        </div>
    </div>
</section>

