<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<div class="col-md-6">
    <h4 class="mb-4">Yorum Yap</h4>
    <input type="hidden" id="productId" name="ProductId" value="@ViewBag.x" />
    <div class="form-group">
        <div class="rating" id="productRating">
            <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
            <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
            <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
            <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
            <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
        </div>
    </div>
    <div class="form-group">
        <label for="message">Yorumunuz *</label>
        <textarea id="message" cols="30" rows="5" class="form-control" name="CommentDetail"></textarea>
    </div>
    <div class="form-group">
        <label for="email">Resim </label>
        <input type="text" class="form-control" id="imageUrl" name="ImageUrl">
    </div>
    <div class="form-group mb-0">
        <input id="CreateComment" value="Yorum Yap" type="button" class="btn btn-primary px-3" />
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#CreateComment").click(function () {
            var rating;
            var checkRating = document.getElementsByName('rating');
            for (i = 0; i < checkRating.length; i++) {
                if (checkRating[i].checked)
                    rating= checkRating[i].value;
            }

            var imageUrl = $('#imageUrl').val();
            var commentDetail = $('#message').val();
            var productId = $('#productId').val();
            var createCommentDto = {
                CommentDetail: commentDetail,
                ImageUrl: imageUrl,
                ProductId: productId,
                Rating: rating,
            };

            $.ajax({
                type: "POST",
                url: "/ProductList/AddComment",
                data: { createCommentDto: createCommentDto },
                success: function (response) {
                    window.location.reload();
                },
                Error: function (error) {
                    console.log(error);
                }
            });
        });
    });
</script>