
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="col-lg-4">
    <div class="product-offer mb-30" style="height: 200px;">
        <img class="img-fluid" src="https://images.pexels.com/photos/3905874/pexels-photo-3905874.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        <div class="offer-text">
            <h6 class="text-white text-uppercase">İndirim 20%</h6>
            <h3 class="text-white mb-3">Özel Teklifler</h3>
            <a href="" class="btn btn-primary">Alışverişe Başlayın</a>
        </div>
    </div>
    <div class="product-offer mb-30" style="height: 200px;">
        <img class="img-fluid" src="https://images.pexels.com/photos/4068314/pexels-photo-4068314.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        <div class="offer-text">
            <h6 class="text-white text-uppercase">İndirim 20%</h6>
            <h3 class="text-white mb-3">Günün Fırsatı</h3>
            <a href="" class="btn btn-primary">Alışverişe Başlayın</a>
        </div>
    </div>
</div>